<div class="sidemenu" >
    <div class="enc row col-12">
        <div class="avatar col-12">
            <i class="material-icons">
                person
            </i>
        </div>
    </div>
    <mat-nav-list #opciones>
        <mat-list-item routerLink="" >
            Principal
        </mat-list-item>
        <mat-list-item routerLink="/detallePedido">
            Historial Pedidos
        </mat-list-item>
        <mat-list-item>
            Configuración
        </mat-list-item>
        <mat-list-item>
            Cerrar Sesión
        </mat-list-item>
    </mat-nav-list>
</div>