<div class="formulario">
    <form class="form" [formGroup]="form">
        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
            <img *ngIf="imagen" [src]="imagen">
            <input hidden formControlName="image" name="image" type="file" #fileInput accept="image/png, image/jpeg, imagen/jpg"
             multiple="false" (change)="uploadFile($event.target.files)" value="https://image.shutterstock.com/image-vector/sample-stamp-grunge-texture-vector-260nw-1389188336.jpg">
        </div>
        <mat-form-field>
            <input matInput [(ngModel)]="Categoria" placeholder="Nombre" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </form>
    <div class="buttons">
        <button class="btn btn-light" type="button" (click)="save()">
            <span *ngIf="!loading">Guardar</span>
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only" *ngIf="loading">Loading...</span>
        </button>
       <!-- <button mat-button (click)="NewCategory()">Guardar</button>-->
    </div>
    
</div>

