/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dialogNewCategoria{
    min-width: 350px !important;
    max-width: 350px !important;
    min-height: 320px !important;
    max-height: 320px !important;
    margin: auto;
    padding:0!important;
    overflow: hidden !important;
}
.dialogNewCategoria .mat-dialog-container{   
    padding: 15px !important;
}

.dialogEditNegocio{
    min-width: 550px !important;
    max-width: 550px !important;
    min-height: 420px !important;
    max-height: 420px !important;
    margin: auto;
    padding:0!important;
    overflow: hidden !important;
}